*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*barra navegacion*/

nav{
    background-color: rgb(4, 39, 44);
}

.barra{
    display: flex;
    margin: 20px; 
}

.nav-link{
    color: white!important;
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, san-sserif;  
    padding: 4px 4px;
    margin: 10px;
    
}

.nav-link-active{
    color: rgb(245, 181, 6)!important; 
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-decoration: none;  
}
.zoom{
    transition-property: inherit;
    transition-duration: 3s;
}

.zoom:hover{
transform: scale(1.2);
}

section{
    background-color:white;
}
.seccion-principal{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2rem, 2rem;
grid-template-areas: 
"titulo carrous"
"info carrous";
margin-left: 50px;
margin-right: 50px;
}


info{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}


h2{
    color:#678e29;
    font-family: 'Allison', cursive;
    font-size: 50px;
    text-align: center;
    padding:13px;  
    margin:0px;
    
}

  .carrousel{
    width: 100%;
    max-width: 120em;
    max-height: 50em;
    color: var(--negro);
    transition: all 0.4s ease;
    overflow: hidden;
  }
  
  .carrousel .grande{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }

  
  .carrousel .img{
    width: calc( 100% / 4 );
    min-height: 10vh;
    transition: all 0.4s ease;    
    
}
  
  .carrousel .puntos{
    width: 100%;
    padding: 0.1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
.carrousel .punto{
    width: 2em;
    height: 2em;
    transition: all 0.4s ease;
    border-radius: 1em;
    
  }
  
.carrousel .punto .activo{
    background-color: lightblue;
  }
  

h3{
    font-family: 'Allison', cursive;
    font-size: 40px;
    text-align: center;
    padding:10px;
}

.container{
    display:flex;
    height: 80vh;
      
}

  
.seccion-secundaria{
    display: flex;
    background-color:#678e29;
    color: white;
    padding:50px;
    justify-content: space-between;    
}

.sc{
    margin-inline: 60px;
}


/*footer*/

footer{
    background-color: rgb(4, 39, 44);
    color: white;
    text-align:center;
    height: 20vh;
    padding:20px;
}

.gh{
    color: white;
    margin: 30px;
    padding: 6px;
}
p{
    margin-top: 10px;
}

